
.datalist {
  background-color: #0f0;
  box-shadow: none;
}

.svg-container {
    position: relative;
    width: 700px;
    height: 450px;
    right: 0px;
}

input {
    width: 330px;
}

.fitscreen {
    height:100vh;
    width: 100vh;
}

.jumbotron {
    padding-left: 50px;
}

button {
    margin-left: 10px;
}

#searchJ {
    background-image: url(../../assets/images/bg.png);
    color: aliceblue;
    opacity: 1;
}

.whole { 
    background-color: white;
    border: 0px;
    -webkit-box-shadow: 4px 6px 5px 2px rgba(207,207,207,1);
-moz-box-shadow: 4px 6px 5px 2px rgba(207,207,207,1);
box-shadow: 4px 6px 5px 2px rgba(207,207,207,1);
}